language: generic

branches:
  only:
  - master

sudo: required
services: docker

install:
 - source texlive.sh

env:
- TEXMFHOME="${TRAVIS_BUILD_DIR}/source/texmf,${TRAVIS_BUILD_DIR}/lua-font-pond/texmf"

cache:
  directories:
    - /tmp/texlive
    - $HOME/.texlive


script: 
 - l3build check -q -H
