/* Styles for all */

/* --------- */

/* Navigation */

.pgh_menu
{
    position:                           fixed !important;
    top:                                0 !important;
    clear:                              both !important;
    float:                              left !important;
    width:                              100% !important;
    overflow:                           hidden !important;
    z-index:                            1001;
}

.navi
{
    position:                           relative !important;
    float:                              left !important;
    left:                               50% !important;
    margin:                             0 !important auto !important;
    padding:                            0 !important;
    top:                                0 !important;
    
    list-style:                         none !important;
    list-style-type:                    none !important;
}

.navi .item
{
    float:                              left !important;
    position:                           relative !important;
    right:                              50% !important;
}

.switcher_off
{
    width:                              25px !important;
    cursor:                             pointer;
    background-image:                   url(../img/menu.png);
    background-position:                -2000px 0px;
}

#switcher_on
{
    position:                           relative;
    background-image:                   url(../img/menu.png);
    background-position:                -2025px 0px;
    float:                              right;
    width:                              45px;
    cursor:                             pointer;
}

.collapsed
{
    opacity:                            0.5;
    background-color:                   #0f0 !important;
    visibility:                         hidden;
}

.nav
{
    height:                             24px;
    width:                              100px;
    display:                            inline;
    float:                              left;
    clear:                              right;
    margin-right:                       0px;  /* war 2px; */
    
    /*      background-color:                   #fa9900; */
    border-bottom:                      2px rgba(0,0,0,0) solid;
    
    animation-name:                     pulse_out;
    animation-duration:                 0.3s;
    animation-timing-function:          ease-out;
    animation-iteration-count:          1;
    
    -webkit-animation-name:             pulse_out;
    -webkit-animation-duration:         0.3s;
    -webkit-animation-timing-function:  ease-out;
    -webkit-animation-iteration-count:  1;
    
    background-image:                   url(../img/menu.png);
    background-repeat:                  no-repeat;
    
    opacity:                            0.7;
}

.nav:hover
{
    border-bottom:                      2px #bbb solid;
    
    animation-name:                     pulse_in;
    animation-duration:                 0.3s;
    animation-timing-function:          ease-in;
    animation-iteration-count:          1;
    
    -webkit-animation-name:             pulse_in;
    -webkit-animation-duration:         0.3s;
    -webkit-animation-timing-function:  ease-in;
    -webkit-animation-iteration-count:  1;
    
    opacity:                            1;
}

@keyframes pulse_in
{
    0%          {opacity:               .70}
    10%         {opacity:               .73}
    20%         {opacity:               .76}
    30%         {opacity:               .79}
    40%         {opacity:               .82}
    50%         {opacity:               .85}
    60%         {opacity:               .88}
    70%         {opacity:               .91}
    80%         {opacity:               .94}
    90%         {opacity:               .97}
    100%        {opacity:               1.0}
}

@keyframes pulse_out
{
    0%          {opacity:               1.0}
    10%         {opacity:               .97}
    20%         {opacity:               .94}
    30%         {opacity:               .91}
    40%         {opacity:               .88}
    50%         {opacity:               .85}
    60%         {opacity:               .82}
    70%         {opacity:               .79}
    80%         {opacity:               .76}
    90%         {opacity:               .73}
    100%        {opacity:               .70}
}

@-webkit-keyframes pulse_in
{
    0%          {opacity:               .70}
    10%         {opacity:               .73}
    20%         {opacity:               .76}
    30%         {opacity:               .79}
    40%         {opacity:               .82}
    50%         {opacity:               .85}
    60%         {opacity:               .88}
    70%         {opacity:               .91}
    80%         {opacity:               .94}
    90%         {opacity:               .97}
    100%        {opacity:               1.0}
}

@-webkit-keyframes pulse_out
{
    0%          {opacity:               1.0}
    10%         {opacity:               .97}
    20%         {opacity:               .94}
    30%         {opacity:               .91}
    40%         {opacity:               .88}
    50%         {opacity:               .85}
    60%         {opacity:               .82}
    70%         {opacity:               .79}
    80%         {opacity:               .76}
    90%         {opacity:               .73}
    100%        {opacity:               .70}
}

.en_up,
.de_up,
.fr_up,
.es_up
{
    width:                              25px;
    background-image:                   url(../img/up.png);
}

.en_no_css          {background-position:   00000px  000px;}
.en_basic           {background-position:   -0200px  000px;}
.en_structure       {background-position:   -0400px  000px;}
.en_structure:hover {background-position:   -0500px  000px;}
.en_easy            {background-position:   -0600px  000px;}
.en_easy:hover      {background-position:   -0700px  000px;}
.en_inverted        {background-position:   -0800px  000px;}
.en_inverted:hover  {background-position:   -0900px  000px;}
.en_low             {background-position:   -1000px  000px;}
.en_low:hover       {background-position:   -1100px  000px;}
.en_low_inv         {background-position:   -1200px  000px;}
.en_low_inv:hover   {background-position:   -1300px  000px;}
.en_dyslexia        {background-position:   -1400px  000px;}
.en_dyslexia:hover  {background-position:   -1500px  000px;}
.en_img_off         {background-position:   -1600px  000px;}
.en_img_on          {background-position:   -1700px  000px;}
.en_alt_off         {background-position:   -1800px  000px;}
.en_alt_on          {background-position:   -1900px  000px;}

.de_no_css          {background-position:   00000px  -25px;}
.de_basic           {background-position:   -0200px  -25px;}
.de_structure       {background-position:   -0400px  -25px;}
.de_structure:hover {background-position:   -0500px  -25px;}
.de_easy            {background-position:   -0600px  -25px;}
.de_easy:hover      {background-position:   -0700px  -25px;}
.de_inverted        {background-position:   -0800px  -25px;}
.de_inverted:hover  {background-position:   -0900px  -25px;}
.de_low             {background-position:   -1000px  -25px;}
.de_low:hover       {background-position:   -1100px  -25px;}
.de_low_inv         {background-position:   -1200px  -25px;}
.de_low_inv:hover   {background-position:   -1300px  -25px;}
.de_dyslexia        {background-position:   -1400px  -25px;}
.de_dyslexia:hover  {background-position:   -1500px  -25px;}
.de_img_off         {background-position:   -1600px  -25px;}
.de_img_on          {background-position:   -1700px  -25px;}
.de_alt_off         {background-position:   -1800px  -25px;}
.de_alt_on          {background-position:   -1900px  -25px;}

.fr_no_css          {background-position:   00000px  -50px;}
.fr_basic           {background-position:   -0200px  -50px;}
.fr_structure       {background-position:   -0400px  -50px;}
.fr_structure:hover {background-position:   -0500px  -50px;}
.fr_easy            {background-position:   -0600px  -50px;}
.fr_easy:hover      {background-position:   -0700px  -50px;}
.fr_inverted        {background-position:   -0800px  -50px;}
.fr_inverted:hover  {background-position:   -0900px  -50px;}
.fr_low             {background-position:   -1000px  -50px;}
.fr_low:hover       {background-position:   -1100px  -50px;}
.fr_low_inv         {background-position:   -1200px  -50px;}
.fr_low_inv:hover   {background-position:   -1300px  -50px;}
.fr_dyslexia        {background-position:   -1400px  -50px;}
.fr_dyslexia:hover  {background-position:   -1500px  -50px;}
.fr_img_off         {background-position:   -1600px  -50px;}
.fr_img_on          {background-position:   -1700px  -50px;}
.fr_alt_off         {background-position:   -1800px  -50px;}
.fr_alt_on          {background-position:   -1900px  -50px;}

.es_no_css          {background-position:   00000px  -75px;}
.es_basic           {background-position:   -0200px  -75px;}
.es_structure       {background-position:   -0400px  -75px;}
.es_structure:hover {background-position:   -0500px  -75px;}
.es_easy            {background-position:   -0600px  -75px;}
.es_easy:hover      {background-position:   -0700px  -75px;}
.es_inverted        {background-position:   -0800px  -75px;}
.es_inverted:hover  {background-position:   -0900px  -75px;}
.es_low             {background-position:   -1000px  -75px;}
.es_low:hover       {background-position:   -1100px  -75px;}
.es_low_inv         {background-position:   -1200px  -75px;}
.es_low_inv:hover   {background-position:   -1300px  -75px;}
.es_dyslexia        {background-position:   -1400px  -75px;}
.es_dyslexia:hover  {background-position:   -1500px  -75px;}
.es_img_off         {background-position:   -1600px  -75px;}
.es_img_on          {background-position:   -1700px  -75px;}
.es_alt_off         {background-position:   -1800px  -75px;}
.es_alt_on          {background-position:   -1900px  -75px;}

.sv_no_css          {background-position:   00000px -100px;}
.sv_basic           {background-position:   -0200px -100px;}
.sv_structure       {background-position:   -0400px -100px;}
.sv_structure:hover {background-position:   -0500px -100px;}
.sv_easy            {background-position:   -0600px -100px;}
.sv_easy:hover      {background-position:   -0700px -100px;}
.sv_inverted        {background-position:   -0800px -100px;}
.sv_inverted:hover  {background-position:   -0900px -100px;}
.sv_low             {background-position:   -1000px -100px;}
.sv_low:hover       {background-position:   -1100px -100px;}
.sv_low_inv         {background-position:   -1200px -100px;}
.sv_low_inv:hover   {background-position:   -1300px -100px;}
.sv_dyslexia        {background-position:   -1400px -100px;}
.sv_dyslexia:hover  {background-position:   -1500px -100px;}
.sv_img_off         {background-position:   -1600px -100px;}
.sv_img_on          {background-position:   -1700px -100px;}
.sv_alt_off         {background-position:   -1800px -100px;}
.sv_alt_on          {background-position:   -1900px -100px;}

.fi_no_css          {background-position:   00000px -125px;}
.fi_basic           {background-position:   -0200px -125px;}
.fi_structure       {background-position:   -0400px -125px;}
.fi_structure:hover {background-position:   -0500px -125px;}
.fi_easy            {background-position:   -0600px -125px;}
.fi_easy:hover      {background-position:   -0700px -125px;}
.fi_inverted        {background-position:   -0800px -125px;}
.fi_inverted:hover  {background-position:   -0900px -125px;}
.fi_low             {background-position:   -1000px -125px;}
.fi_low:hover       {background-position:   -1100px -125px;}
.fi_low_inv         {background-position:   -1200px -125px;}
.fi_low_inv:hover   {background-position:   -1300px -125px;}
.fi_dyslexia        {background-position:   -1400px -125px;}
.fi_dyslexia:hover  {background-position:   -1500px -125px;}
.fi_img_off         {background-position:   -1600px -125px;}
.fi_img_on          {background-position:   -1700px -125px;}
.fi_alt_off         {background-position:   -1800px -125px;}
.fi_alt_on          {background-position:   -1900px -125px;}

/* --------- */ 

/* Elements */

body
{
    margin:                             0 !important;
    padding-top:                        2em;
}

img
{
    max-width:                          85%;
    display:                            block;
}

/* --------- */ 

/* Classes */

.lbl
{
    display:                            none;
}

.alt_from_image,
.caption
{
    visibility:                         visible;
    font-style:                         italic;
    font-size:                          80%;
    display:                            block;
/*  display:                            none; */
}

.alt_from_image:before,
.alt_from_image:after
{
    content: ' ';
}

/* suppress display of real text, where ActualText provides the text intended to appear to the reader */
/* NOTE: this will have to be refined for the MadeToTag / Structure tags view,
 as we want to have a visual indication for all instances where ActualText is used
 */

.realText
{
    display: none;
}

._h1, ._h2, ._h3, ._h4, ._h5, ._h6,
ul,
ol,
._p,
.alt_from_image
{
    color: #000;
}

.pgh_content
{
    margin:                             1em;
/* Make all text thats not embedded in a special tag #f00 */
    color:                              #f00;
}

.pgh_exception
{
    display:                            none;
}
