
div._span {
    display: inline;
}



ol, ul {
  list-style-type: none;
}

li {
	padding-top: 1em;
}



._article { 
    display: block;
}


._blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}

._caption { 
    display: table-caption;
/*
    text-align: center;
*/
}

._code {
    font-family: monospace;
}

._div {
    display: block;
}

._figure { 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}

._form {
    display: block;
    margin-top: 0em;
}

._h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

._h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

._h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

._h4 {
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

._h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

._h6 {
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

._link {
    display: none;
}

/*

._li {
    display: list-item;
}

._ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

._ul { 
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

*/

._p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}


._q { 
    display: inline;
}

._q:before { 
    content: open-quote;
}

._q:after { 
    content: close-quote;
}

._section { 
    display: block;
}

/*

._table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}

._td {
    display: table-cell;
    vertical-align: inherit;
}

._th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
}

*/
