/*----------------------------------------------------------------------------------------*/
/* General */
/*----------------------------------------------------------------------------------------*/


body {
	alignment: left;
	background-color: #ffffff;
	color: #000000;
	font-family: Arial,Tahoma,sans-serif;
	font-size: 10pt;
	margin: 0px;
	padding: 0px;
	text-align: left;
}


a:link, a:visited, a:active {
	color: #000000;
}

img {
	border: 0px;
}

.b {
	font-weight:bold;
}




/*----------------------------------------------------------------------------------------*/
/* Report blocks */
/*----------------------------------------------------------------------------------------*/


#block_head {
  	width:425px;
}

.block_head_text {
	font-size:14pt;
	font-weight:bold;
}

#block_content {
	padding-top:10px;
}

#block_space  {
	margin-top:15px;
}

#block_space_pagebottom  {
	margin-top:1000px;
}


/* Block pdfaPilot Report */

#block_pdfapilotReport {
  	background:url(img/block_pdfapilotReport_bg.gif);
  	background-repeat:no-repeat;
}

#block_pdfapilotReport_content {
	font-size:8pt;
	height:230px;
 	width:340px;
 	overflow:auto;
}

#block_pdfapilotReport_content_result, #block_pdfapilotReport_content_result_PDF, #block_pdfapilotReport_content_result_PDFA, #block_pdfapilotReport_content_result_PDFA_notval {
	font-size:11pt;
	font-weight:bold;
}


/* Block Fixups */

#block_fixups {
  	background:url(img/block_bg.gif);
  	background-repeat:no-repeat;
}

#block_fixups_content_bg {
 	background:url(img/block_fixups_content_bg.gif);
  	background-repeat:no-repeat;
}

.block_fixups_content {
	font-size:11pt;
	font-weight:bold;
}


/* Block Problems */

#block_problems {
  	background:url(img/block_bg.gif);
  	background-repeat:no-repeat;
}

#block_problems_content_bg {
 	background:url(img/block_problems_descr_bg.gif);
  	background-repeat:no-repeat;
}

#block_problems_content_bg_bottom {
 	background:url(img/block_problems_descr_bg_bottom.gif);
  	background-repeat:no-repeat;
}

#block_problems_content {
	font-size:11pt;
	font-weight:bold;
}

.block_problems_description {
	font-size:8pt;
	width:360px;
}

.block_problems_problemsdescription {
	font-size:10pt;
/* 	width:360px;*/
 	padding-bottom:6px;
 	margin-left:13px;
}

.block_problems_problemsdescription a:hover {
	color:#CC0000;
}

.block_problems_description_details {
	font-size:8pt;
 	padding-bottom:3px;
}

#block_problems_content_left {
  	background:url(img/block_problems_content_left.gif);
  	background-repeat:repeat-y;
}

#block_problems_content_right {
  	background:url(img/block_problems_content_right.gif);
  	background-repeat:repeat-y;
}

#block_problems_content_bar {
  	background:url(img/block_problems_content_bar.gif);
  	background-repeat:repeat-y;
}

#block_problems_content_bottom {
  	background:url(img/block_problems_content_bottom.gif);
  	background-repeat:repeat-y;
}



/*----------------------------------------------------------------------------------------*/
/* Open and Close functionality */
/*----------------------------------------------------------------------------------------*/


li.treeMenu_closed {
	background:url(img/block_head_arrow_right.gif);
	background-repeat:no-repeat;
}

ul li.treeMenu_opened {
	background:url(img/block_head_arrow_down.gif);
  	background-repeat:no-repeat;
}

ul li.treeMenu_opened_js {
	background:url(img/block_head_arrow_right.gif);
  	background-repeat:no-repeat;
}

ul li.treeMenu_closed ul {
	display:none;
}

.listparent {
	cursor:pointer;
}


